#app{
    width: 100%;
    height: 800px;
    background-color: aqua;
    
}
#games{
    width: 100%;
    height: 800px;
    background-color: aqua;
    
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color: aqua;
    
}
.line{
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background-color: dimgrey;
}
img{
    transition: transform.2s;
    
}
img:hover{
    transform: scale(0.9);
}